### Mac ###
.DS_Store

### Git ###
*.orig

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
node

### Eclipse ###
.classpath
.project
.checkstyle
.settings/
*.launch

### NetBeans ###
nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
work/
target/
classes/

### Jrebel ###
rebel*.xml
